body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    display: flex;
    flex-direction: column; /* Permitir dirección de columna */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    min-height: 100vh; /* Asegurar que ocupe toda la altura de la ventana */
}

.index-container, .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    margin: 20px; /* Espacio alrededor del contenedor */
}

.landing-page, .content-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #3f2b96;
    font-size: 2.5em;
    margin: 0; /* Ajustar margen para evitar saltos */
}

h2 {
    color: #3f2b96; /* Cambiado para ser consistente con el h1 */
    font-size: 2em; /* Aumentar tamaño */
    margin: 10px 0; /* Espacio superior e inferior */
}

p, li {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
    margin: 5px 0; 
}

#countdown {
    font-weight: bold;
    color: #ff0000;
}

ol {
    padding-left: 20px; /* Alinear los números */
    text-align: left; /* Alinear texto a la izquierda */
    margin: 10px 0; /* Espacio entre la lista y otros elementos */
}

li {
    margin: 5px 0; /* Espaciado entre elementos de la lista */
}
